.header__container {
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.hero__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateY(-25%);
}

.hero__title {
    /* font-family: "Bebas Neue"; */
    text-align: left;
    width: 100%;
    font-size: 13vw;
    line-height: 13vw;
    font-weight: 400;
}
.hero__title__second__line {
    text-align: right;
}

.hero__area .section__subheader {
    margin-top: 2rem;
    text-align: center;
}

@media (width > 768px) {

    .hero__area {
        width: 80%;
        transform: translateY(0%);
    }

    .hero__title {
        font-size: 10vw;
        line-height: 10vw;
    }

}







